<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Trocchi&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Carrito</title>
</head>
<body>
    <header>
        <a href=""><img class="logo" src="../public/img/Copia de Absolute Fashion.png" alt="logo"> </a>

        <ul class="ul1">
            <li><a href="">Log in <i class="fas fa-sign-in-alt"></i> | </a></li>
            <li><a href=""> Sign up <i class="fas fa-user"></i></a></li>
        </ul>

        <div class="leon">
        <label for="buscador"></label>
        <input class="buscador" type="search" id="buscador" name="buscador" placeholder="Buscar">
        <button><i class="fas fa-search"></i></button>
        </div>
        <div class="hidden"><i class="fas fa-bars"></i></div>

        <ul class="ul2">
            <li><a href=""><i class="fas fa-home"></i> home |</a></li>
            <li><a href=""><i class="fas fa-book"></i> cursos |</a></li>
            <li><a href=""><i class="fas fa-shopping-cart"></i> carrito |</a></li>
            <li><a href=""><i class="fas fa-network-wired"></i> sedes |</a></li>
            <li><a href=""><i class="fas fa-address-card"></i> contacto</a></li>
        </ul>
    </header>


        <section class="todocarro">
            <div>
                <p class="carrito">Carrito</p>
            </div>
            <div class="grid">
                <a class="vercursos" href=""><i class="fas fa-chevron-right"></i> Seguir viendo cursos</a>
                <a class="verpromos" href="">Ver promociones</a>
            </div>
        </section>

        <section class="cajas">
            <div class="probar">
                <article class="articulo">
                    <div class="curso">
                        <div class="nameyplata">
                            <p class="name"><i class="fas fa-check"></i> Nombre del curso 1</p>
                            <p class="moni">$$$$$$$</p>
                        </div>
                        <ul class="pollo">
                            <li class="enlinea">- Fecha inicio: </li>
                            <li class="enlinea">- Modalidad: </li>
                            <li class="enlinea">- Sucursal: </li>
                        </ul>
                        <a class="eliminar" href="">Eliminar</a>
                    </div>
                </article>
                <article class="articulo">
                    <div class="curso">
                        <div class="nameyplata">
                            <p class="name"><i class="fas fa-check"></i> Nombre del curso 2</p>
                            <p class="moni">$$$$$$$</p>
                        </div>
                        <ul class="pollo">
                            <li class="enlinea">- Fecha inicio: </li>
                            <li class="enlinea">- Modalidad: </li>
                            <li class="enlinea">- Sucursal: </li>
                        </ul>
                        <a class="eliminar" href="">Eliminar</a>
                    </div>
                </article>
                <article class="articulo">
                    <div class="curso">
                        <div class="nameyplata">
                            <p class="name"><i class="fas fa-check"></i> Nombre del curso 3</p>
                            <p class="moni">$$$$$$$</p>
                        </div>
                        <ul class="pollo">
                            <li class="enlinea">- Fecha inicio: </li>
                            <li class="enlinea">- Modalidad: </li>
                            <li class="enlinea">- Sucursal: </li>
                        </ul>
                        <a class="eliminar" href="">Eliminar</a>
                    </div>
                </article>
            </div>
            <div class="probar2">
                <article class="articulo2">
                    <div class="interno">
                        <p class="resumen">Resumen de compra</p>
                        <ul>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde">Nombre del curso</p>
                                    <p class="solomargin">$$$$$$$</p>
                                </div>
                            </li>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde">Nombre del curso</p>
                                    <p class="solomargin">$$$$$$$</p>
                                </div>
                            </li>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde">Nombre del curso</p>
                                    <p class="solomargin">$$$$$$$</p>
                                </div>
                            </li>
                        </ul>
                        <form action="">
                    <input class="descuento" type="text" placeholder="coloca aqui tu cupon de descuento">
                </form>
                    <div class="flex2">
                        <div class="total">Total</div>
                        <div class="ultimo">$$$$$$$</div>
                    </div>
                    <div class="ultimo2">
                        <a class="comprar" href="">Comprar</a>
                    </div>
                    </div>
                </article>
            </div>
        </section>

        <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>

    <footer>
        <a href=""><i class="fas fa-question-circle"></i> Preguntas frecuentes</a>
        <a href=""><i class="fas fa-address-card"></i> Nosotros</a>
        <a href=""><i class="fas fa-comments"></i> Comentarios</a>
        <a href=""><i class="fas fa-language"></i> Idiomas</a>
        <p class="phone"><a href="tel: 1167545374"><i class="fab fa-whatsapp"></i> Whatsapp 116-754-5374</a></p>
        <p class="phone"><i class="fas fa-phone"></i> Central: 0800-000-000</p>
    </footer>
</body>
</html>