<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Trocchi&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Registro</title>
</head>
<body>
    <header>
        <a href=""><img class="logo" src="../public/img/Copia de Absolute Fashion.png" alt="logo"> </a>

    </header>
    <section class="seccion">
        <div class="div1"> 
            <p class="campos">Todos los campos son obligatorios</p>
            <div class="nombreyapellido">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
            </div>
            <div class="mail">
                <input class="inputmail" type="email" placeholder="Mail">
            </div>
            <div class="contras">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">
            </div>
        </div>
        <div class="terminos"><p>Al hacer clic en crear cuenta, aceptás las <a href="">Condiciones de uso y la Política de privacidad</a> de Dharma.</p></div>
    <div class="otros">
        <div>
            <div class="divcrearcuenta">
                <form action="">
                    <label for=""></label>
                    <input class="crearcuenta" type="submit" value="Crear cuenta">
                </form>
            </div>
            <div class="grid2">
                    <p class="registrado">¿Ya estás registrado?</p>
                    <a class="iniciala" href="">Inicia sesión <i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
            <div class="losdos">
                <a class="guglyfeis" href="">Ingresar con <i class="fab fa-google"></i>oogle</a>

                <a class="guglyfeis" href="">Ingresar con <i class="fab fa-facebook-f"></i>acebook</a>
            </div>
        </div>
    </div>
    </section>

    <footer>
        <a class="afooter" href=""><i class="fas fa-question-circle"></i> Preguntas frecuentes</a>
        <a class="afooter" href=""><i class="fas fa-address-card"></i> Nosotros</a>
        <a class="afooter" href=""><i class="fas fa-comments"></i> Comentarios</a>
        <a class="afooter" href=""><i class="fas fa-language"></i> Idiomas</a>
        <p class="phone"><a href="tel: 1167545374"><i class="fab fa-whatsapp"></i> Whatsapp 116-754-5374</a></p>
        <p class="phone"><i class="fas fa-phone"></i> Central: 0800-000-000</p>
    </footer>
</body>
</html>