<footer>
    <a href=""><i class="fas fa-question-circle"></i> Preguntas frecuentes</a>
    <a href=""><i class="fas fa-address-card"></i> Nosotros</a>
    <a href=""><i class="fas fa-comments"></i> Comentarios</a>
    <a href=""><i class="fas fa-language"></i> Idiomas</a>
    <p class="phone"><i class="fab fa-whatsapp"></i> Whatsapp 1111111111</p>
    <p class="phone"><i class="fas fa-phone"></i> Central: 0800-000-000</p>
</footer>