
<header>
    <a href=""><img class="logo" src="/img/Copia de Absolute Fashion.png" alt="logo"> </a>

    <ul class="ul1">
        <li><a href="">Log in <i class="fas fa-sign-in-alt"></i> | </a></li>
        <li><a href=""> Sign up <i class="fas fa-user"></i></a></li>
    </ul>

    <div>
    <label for="buscador"></label>
    <input class="buscador" type="search" id="buscador" name="buscador" placeholder="Buscar">
    <button><i class="fas fa-search"></i></button>
    </div>

    <ul class="ul2">
        <li><a href=""><i class="fas fa-home"></i> home |</a></li>
        <li><a href=""><i class="fas fa-book"></i> cursos |</a></li>
        <li><a href=""><i class="fas fa-shopping-cart"></i> carrito |</a></li>
        <li><a href=""><i class="fas fa-network-wired"></i> sedes |</a></li>
        <li><a href=""><i class="fas fa-address-card"></i> contacto</a></li>
    </ul>
</header>